<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section id="team-members">
        <div class="profile-card">
            <h2>Harsh Dubey</h2>
            <p>CS Department</p>
        </div>
        <div class="profile-card">
            <h2>Khushi Patel</h2>
            <p>CS Department</p>
        </div>
        <div class="profile-card">
            <h2>Khushi Barman</h2>
            <p>CS Department</p>
        </div>
        <div class="profile-card">
            <h2>Deepali Thakur</h2>
            <p>CS Department</p>
        </div>
    </section>
    <footer>
        <p>© 2025 Our Team</p>
    </footer>
</body>
</html>